<%- include('partials/header', { title: '404 - 页面未找到', user }) %>

<div style="text-align: center; padding: 4em 0;">
  <h1 style="font-size: 4em; margin: 0;">404</h1>
  <p style="font-size: 1.5em; margin: 1em 0;">页面未找到</p>
  <p>
    <a href="/">返回首页</a>
  </p>
</div>

<%- include('partials/footer') %>
